/*-------------Google Fonts---------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/*----------------------------------------*/
/* Default CSS
/*----------------------------------------*/
* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  font-size: 100%;
  line-height: inherit;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0;
  font-size: 14px;
  color: #000000;
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

a,
.button,
.btn {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
}

.btn:focus,
button:focus,
input:focus,
textarea,
textarea:focus,
.form-control:focus {
  outline: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

hr {
  border-bottom: 1px solid #eceff8;
  border-top: 0 none;
  padding: 0;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

*::-moz-selection {
  background: #d6b161;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #ff0000;
  color: #fff;
  text-shadow: none;
}

*::-webkit-input-placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

/*-----Utility*---*/
.section-title {
  margin-bottom: 2rem;
}

.section-title h4 {
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}

.section-title h4 span {
  color: #ab2a20;
}

/*Custom CSS*/
.mg-top-5 {
  margin-top: 5px;
}

.section-bg {
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: -1px 1px 4px 2px rgba(228, 228, 228, 0.4);
          box-shadow: -1px 1px 4px 2px rgba(228, 228, 228, 0.4);
}

/* buttons CSS */
.primary-btn {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-size: 16px;
  padding: 14px 30px;
  background-color: #54bf54;
  color: #fff;
  font-weight: 500;
  border-radius: 2rem;
}

.primary-btn:hover, .primary-btn:focus, .primary-btn:active {
  border: 2px solid #3f4551;
  background-color: transparent;
  color: #3f4551;
}

.secondary-btn {
  display: inline-block;
  font-size: 10px;
  padding: 6px 8px;
  background-color: transparent;
  color: #d30011;
  font-weight: 500;
  border: 2px solid #d30011;
  text-transform: uppercase;
}

.secondary-btn:hover, .secondary-btn:focus, .secondary-btn:active {
  border: 2px solid #3f4551;
  background-color: #3f4551;
  color: #fff;
}

.site-btn {
  font-size: 14px;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px 27px 25px 27px;
  background: #3f4551;
  border: none;
  border-radius: 4px;
}

/*---------------------
  Header
-----------------------*/
.sticky {
  background: #ffffff;
  top: 0;
  z-index: 9999;
  width: 100%;
}

.header__top {
  background: #3f4551;
}

.header__top .header__top__left {
  padding: 6px 0 6px;
}

.header__top .header__top__left ul li {
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 16px;
  position: relative;
}

.header__top .header__top__left ul li:after {
  position: absolute;
  right: -11px;
  top: 0;
  height: 14px;
  width: 1px;
  background: #1c1c1c;
  opacity: 1;
  content: "";
}

.header__top .header__top__left ul li:last-child {
  margin-right: 0;
}

.header__top .header__top__left ul li:last-child:after {
  display: none;
}

.header__top .header__top__left ul li i {
  color: #ffffff;
  margin-right: 5px;
  font-size: 12px;
  padding-left: 6px;
}

.header__top .header__top__right {
  text-align: right;
  padding: 6px 0 6px;
}

.header__top .header__top__right .header__top__right__widgets {
  position: relative;
  display: inline-block;
  margin-right: 35px;
  text-transform: uppercase;
}

.header__top .header__top__right .header__top__right__widgets a {
  font-size: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #ffffff;
  margin-right: 12px;
  font-weight: 400;
}

.header__top .header__top__right .header__top__right__widgets a:last-child {
  margin-right: 0;
}

.header__top .header__top__right .header__top__right__widgets a:hover, .header__top .header__top__right .header__top__right__widgets a:focus, .header__top .header__top__right .header__top__right__widgets a:active {
  color: #3f4551;
}

.header__top .header__top__right .header__top__right__widgets a i {
  margin-right: 5px;
}

.header__bottom {
  border-bottom: 1px solid #f5f5f5;
}

.header__bottom .header__logo a {
  display: inline-block;
}

.header__bottom .header__logo a .logo {
  height: 60px;
  width: auto;
}

.header__bottom .header__search {
  overflow: hidden;
}

.header__bottom .header__search .header__search__form {
  width: 650px;
  height: 41px;
  border: 1px solid #ebebeb;
  position: relative;
  float: left;
}

.header__bottom .header__search .header__search__form form input {
  color: #b2b2b2;
  padding-left: 20px;
  padding: 0 16px;
  border-radius: 2px 0 0 2px;
  border: 0;
  outline: 0 none;
  font-size: 14px;
  font-weight: 300;
  height: 36px;
  width: 100%;
}

.header__bottom .header__search .header__search__form form input::-webkit-input-placeholder {
  color: #b2b2b2;
}

.header__bottom .header__search .header__search__form form input:-ms-input-placeholder {
  color: #b2b2b2;
}

.header__bottom .header__search .header__search__form form input::-ms-input-placeholder {
  color: #b2b2b2;
}

.header__bottom .header__search .header__search__form form input::placeholder {
  color: #b2b2b2;
}

.header__bottom .header__search .header__search__form form button {
  position: absolute;
  right: -1px;
  top: -1px;
  height: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom .header__search .header__search__form form button i {
  position: absolute;
  top: 12px;
}

.header__bottom .header__widgets {
  text-align: right;
}

.header__bottom .header__widgets ul.header__widgets__menu {
  display: inline-block;
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom .header__widgets ul.header__widgets__menu li.header__top__right__auth,
.header__bottom .header__widgets ul.header__widgets__menu li.header__top__right__wishlist,
.header__bottom .header__widgets ul.header__widgets__menu li.header__top__right__cart {
  list-style: none;
  display: inline-block;
  margin-right: 8px;
}

.header__bottom .header__widgets ul.header__widgets__menu li.header__top__right__auth:last-child,
.header__bottom .header__widgets ul.header__widgets__menu li.header__top__right__wishlist:last-child,
.header__bottom .header__widgets ul.header__widgets__menu li.header__top__right__cart:last-child {
  margin-right: 0;
}

.header__bottom .header__widgets ul.header__widgets__menu li.header__top__right__auth a.widget-links,
.header__bottom .header__widgets ul.header__widgets__menu li.header__top__right__wishlist a.widget-links,
.header__bottom .header__widgets ul.header__widgets__menu li.header__top__right__cart a.widget-links {
  padding: 8px;
  position: relative;
}

.header__bottom .header__widgets ul.header__widgets__menu li.header__top__right__auth a.widget-links i,
.header__bottom .header__widgets ul.header__widgets__menu li.header__top__right__wishlist a.widget-links i,
.header__bottom .header__widgets ul.header__widgets__menu li.header__top__right__cart a.widget-links i {
  font-size: 22px;
  color: #1c1c1c;
}

.header__bottom .header__widgets ul.header__widgets__menu li.header__top__right__auth a.widget-links span,
.header__bottom .header__widgets ul.header__widgets__menu li.header__top__right__wishlist a.widget-links span,
.header__bottom .header__widgets ul.header__widgets__menu li.header__top__right__cart a.widget-links span {
  height: 16px;
  width: 16px;
  background: #3f4551;
  font-size: 10px;
  color: #ffffff;
  line-height: 16px;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: 0;
}

.header__bottom .header__widgets ul.header__widgets__menu li.header__top__right__auth {
  position: relative;
}

.header__bottom .header__widgets ul.header__widgets__menu li.header__top__right__auth:hover {
  cursor: pointer;
}

.header__bottom .header__widgets ul.header__widgets__menu li.header__top__right__auth .user-login-icon {
  float: left;
  position: absolute;
  left: 0px;
  top: 5px;
}

.header__bottom .header__widgets ul.header__widgets__menu li.header__top__right__auth .sub-title-text {
  display: block;
  font-weight: 400;
  font-size: 11px;
  text-transform: capitalize;
  margin-left: 52px;
}

.header__bottom .header__widgets ul.header__widgets__menu li.header__top__right__auth h6 {
  float: right;
  font-weight: 600;
  font-size: 13px;
  margin: 0;
}

.header__bottom .header__widgets .header__cart__price {
  font-size: 14px;
  color: #6f6f6f;
  display: inline-block;
}

.header__bottom .header__widgets .header__cart__price span {
  color: #252525;
  font-weight: 500;
}

.header__top__right__auth {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  cursor: pointer;
}

.header__top__right__auth:hover ul {
  top: 37px;
  opacity: 1;
  visibility: visible;
}

.header__top__right__auth ul {
  background: #ffffff;
  min-width: 152px;
  padding: 10px;
  -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 100px;
  text-align: left;
  position: absolute;
  left: 6px;
  top: 43px;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.header__top__right__auth ul li {
  list-style: none;
  background-color: #3f4551;
  padding: 6px 2px;
  border-radius: 5px;
  text-align: center;
}

.header__top__right__auth ul li:last-child {
  background-color: #f5f5f5;
}

.header__top__right__auth ul li:last-child a {
  color: #000000;
}

.header__top__right__auth ul li a {
  font-size: 14px;
  color: #ffffff;
  padding: 5px 10px;
}

.humberger__menu__wrapper {
  display: none;
}

.humberger__open {
  display: none;
}

/*---------------------
  Navbar CSS
-----------------------*/
.header__navbar-section .main-navbar-menu a.navbar-brand {
  color: #1c1c1c;
}

.header__navbar-section .main-navbar-menu ul.navbar-nav li.nav-item {
  margin-right: 2rem;
}

.header__navbar-section .main-navbar-menu ul.navbar-nav li.nav-item a.nav-link {
  color: #3f4551;
  font-weight: 500;
  font-size: 14px;
}

.categories__all {
  background: #1e569a;
  position: relative;
  padding: 15px 18px 15px 18px;
  cursor: pointer;
}

.categories__all i {
  font-size: 16px;
  color: #ffffff;
  margin-right: 10px;
}

.categories__all span {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.all__categories__wrapper ul {
  border: 1px solid #ebebeb;
  padding-top: 10px;
  padding-bottom: 12px;
  position: absolute;
  z-index: 9999;
  background: #fff;
  width: 90%;
  opacity: 0;
  visibility: hidden;
}

.all__categories__wrapper ul li {
  list-style: none;
}

.all__categories__wrapper ul li a {
  font-size: 14px;
  color: #1c1c1c;
  line-height: 39px;
  display: block;
  padding-left: 40px;
  padding-right: 40px;
}

.all__categories__wrapper ul li a::after {
  background-color: #F73F52;
  width: 5px;
}

.all__categories__wrapper ul li a:hover, .all__categories__wrapper ul li a:active, .all__categories__wrapper ul li a:focus {
  background-color: #f5f5f5;
}

.all__categories__wrapper ul li a .angle-right {
  float: right;
  margin-top: 12px;
}

.all__categories__wrapper ul .mega-sub-menu {
  display: none;
  width: 298px;
  z-index: 2;
}

.all__categories__wrapper ul .has-megamenu:hover .mega-sub-menu {
  position: absolute;
  display: block;
  margin-top: -50px;
  margin-left: 255px;
  background: #fff;
}

.all__categories__wrapper ul .has-megamenu:hover .angle-right {
  display: inline-block;
  float: right;
}

.all__categories__wrapper ul .sub-menu {
  display: none;
  width: 250px;
  z-index: 2;
}

.all__categories__wrapper ul .has-submenu:hover .sub-menu {
  position: absolute;
  display: block;
  margin-top: -38px;
  margin-left: 266px;
  background: #fff;
}

.all__categories__wrapper:hover ul {
  opacity: 1;
  visibility: visible;
}

.hero__search {
  overflow: hidden;
}

.hero__search__form {
  width: 650px;
  height: 41px;
  border: 1px solid #ebebeb;
  position: relative;
  float: left;
}

.hero__search__form form .hero__search__categories {
  width: 30%;
  float: left;
  font-size: 16px;
  color: #1c1c1c;
  font-weight: 700;
  padding-left: 18px;
  padding-top: 11px;
  position: relative;
}

.hero__search__form form .hero__search__categories:after {
  position: absolute;
  right: 0;
  top: 14px;
  height: 20px;
  width: 1px;
  background: #000000;
  opacity: .1;
  content: "";
}

.hero__search__form form .hero__search__categories span {
  position: absolute;
  right: 14px;
  top: 14px;
}

.hero__search__form form input {
  color: #b2b2b2;
  padding-left: 20px;
  padding: 0 16px;
  border-radius: 2px 0 0 2px;
  border: 0;
  outline: 0 none;
  font-size: 14px;
  height: 36px;
  width: 100%;
}

.hero__search__form form input::-webkit-input-placeholder {
  color: #b2b2b2;
}

.hero__search__form form input:-ms-input-placeholder {
  color: #b2b2b2;
}

.hero__search__form form input::-ms-input-placeholder {
  color: #b2b2b2;
}

.hero__search__form form input::placeholder {
  color: #b2b2b2;
}

.hero__search__form form button {
  position: absolute;
  right: -1px;
  top: -1px;
  height: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__search__form form button i {
  position: absolute;
  top: 12px;
}

.hero__search__phone {
  float: right;
}

.hero__search__phone__icon {
  font-size: 18px;
  color: #3f4551;
  height: 50px;
  width: 50px;
  background: #f5f5f5;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.hero__search__phone__text {
  overflow: hidden;
}

.hero__search__phone__text h6 {
  color: #1c1c1c;
  font-weight: 700;
  margin-top: 14px;
}

.hero__search__phone__text span {
  font-size: 14px;
  color: #aaaaaa;
}

.hero__item {
  height: 431px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 75px;
}

.hero__text span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  color: #3f4551;
}

.hero__text h2 {
  font-size: 46px;
  color: #252525;
  line-height: 52px;
  font-weight: 700;
  margin: 10px 0;
}

.hero__text p {
  margin-bottom: 35px;
}

.header__menu ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  position: relative;
}

.header__menu ul li .header__menu__dropdown {
  position: absolute;
  right: auto;
  left: 0;
  top: 50px;
  background: #222222;
  width: 180px;
  z-index: 9;
  padding: 5px 0;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  opacity: 0;
  visibility: hidden;
}

.header__menu ul li .header__menu__dropdown li {
  margin-right: 0;
  display: block;
}

.header__menu ul li .header__menu__dropdown li:hover > a {
  color: #3f4551;
}

.header__menu ul li .header__menu__dropdown li a {
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 400;
  padding: 5px 15px;
}

.header__menu ul li.active a {
  color: #3f4551;
}

.header__menu ul li:hover .header__menu__dropdown {
  top: 30px;
  opacity: 1;
  visibility: visible;
}

.header__menu ul li:last-child {
  margin-right: 0;
}

.header__menu ul li h6 a {
  color: #000000;
}

.header__menu ul li a {
  font-size: 14px;
  color: #252525;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  padding: 5px 0;
  display: block;
}

.header__menu ul li a.nav-link {
  font-size: 14px;
  color: #252525;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0px;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  padding: 5px 8px;
  color: #fff;
}

.header__menu ul li a.nav-link::after {
  display: none;
}

.header__menu ul li a.nav-link:hover {
  color: #3f4551;
}

.header__menu ul li .mega-menu {
  border-radius: 0px;
  padding: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid #f5f5f5;
  margin: 0;
  background-color: #f5f5f5;
}

.header__menu ul li .mega-menu .main-row > div:nth-child(odd) {
  background: #ffffff;
  padding: 12px 32px;
}

.header__menu ul li .mega-menu .main-row > div:nth-child(even) {
  background: #f5f5f5;
  padding: 12px 32px;
}

.header__menu ul li .mega-menu h6 a {
  color: #3f4551;
}

.header__menu ul li .mega-menu h6 a:hover {
  color: #1c1c1c;
}

.header__menu ul li .mega-menu ul li a {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0px;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  padding: 5px 8px;
  color: #aaaaaa;
}

/*---------------------
  Hero
-----------------------*/
.main-slider-wrapper {
  position: relative;
  text-align: center;
}

.main-slider-wrapper .item {
  height: 30rem;
  position: relative;
}

.main-slider-wrapper .item img {
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-slider-wrapper .item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.main-slider-wrapper .item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.main-slider-wrapper .item::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.main-slider-wrapper .item:hover::before, .main-slider-wrapper .item:hover::after {
  width: 100%;
  height: 100%;
}

.main-slider-wrapper .owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  top: 40%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 52px;
  cursor: pointer;
  height: 88px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0px 8px 8px 0px;
}

.main-slider-wrapper .owl-nav .owl-prev span {
  font-size: 2.6875rem;
  color: #fff;
}

.main-slider-wrapper .owl-nav .owl-prev:focus {
  outline: 0;
}

.main-slider-wrapper .owl-nav .owl-prev:hover {
  background: #000 !important;
}

.main-slider-wrapper .owl-nav .owl-next {
  position: absolute;
  right: 15px;
  top: 40%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 52px;
  cursor: pointer;
  height: 88px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 8px 0px 0px 8px;
}

.main-slider-wrapper .owl-nav .owl-next span {
  font-size: 2.6875rem;
  color: #fff;
}

.main-slider-wrapper .owl-nav .owl-next:focus {
  outline: 0;
}

.main-slider-wrapper .owl-nav .owl-next:hover {
  background: #000 !important;
}

.main-slider-wrapper .owl-dots {
  position: absolute;
  bottom: 16px;
  top: auto;
  left: 0;
  right: auto;
  width: 100%;
}

.main-slider-wrapper .owl-dots .owl-dot {
  display: inline-block;
}

.main-slider-wrapper .owl-dots .owl-dot span {
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 1;
  width: 12px;
  border: 2px solid #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 0 1px 1px #fefefb;
          box-shadow: 0 0 1px 1px #fefefb;
}

.main-slider-wrapper .owl-dots .active > span {
  border: 2px solid #3f4551;
  -webkit-box-shadow: 0 0 1px 1px #3f4551;
          box-shadow: 0 0 1px 1px #3f4551;
}

.main-slider-wrapper:hover .owl-prev {
  left: 0px;
  opacity: 1;
}

.main-slider-wrapper:hover .owl-next {
  right: 0px;
  opacity: 1;
}

.hero__promotion-banner {
  height: 15rem;
  width: 100%;
}

.hero__promotion-banner a.promotion-img-wrapper img {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero__promotion-banner a.promotion-img-wrapper img:hover {
  -webkit-transform: scale();
          transform: scale();
  cursor: pointer;
}

.hero__promotion-banner a.promotion-img-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.hero__promotion-banner a.promotion-img-wrapper::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.hero__promotion-banner a.promotion-img-wrapper:hover::before, .hero__promotion-banner a.promotion-img-wrapper:hover::after {
  width: 100%;
  height: 100%;
}

.main-content {
  background: #fafafa;
}

.product-card,
.category-card {
  border: none;
  border-radius: 8px;
}

.product-card:hover, .product-card:focus, .product-card:active,
.category-card:hover,
.category-card:focus,
.category-card:active {
  -webkit-box-shadow: 0 9px 16px 0 #f5f5f5;
          box-shadow: 0 9px 16px 0 #f5f5f5;
  cursor: pointer;
}

.product-card .product-img-wrapper,
.category-card .product-img-wrapper {
  background: #f3f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 12rem;
  overflow: hidden;
}

.product-card .product-img-wrapper .product-image,
.category-card .product-img-wrapper .product-image {
  height: 12rem;
  width: auto;
  padding: 1.3rem 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product-card .product-img-wrapper:hover .product-image,
.category-card .product-img-wrapper:hover .product-image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product-card .product-img-wrapper .product-tag,
.category-card .product-img-wrapper .product-tag {
  position: absolute;
  top: 10px;
  right: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-card .product-img-wrapper .product-tag span,
.category-card .product-img-wrapper .product-tag span {
  font-size: 10px;
  color: #ffffff;
  display: block;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 3px 6px;
  width: auto;
}

.product-card .product-img-wrapper .product-tag .discount-tag,
.category-card .product-img-wrapper .product-tag .discount-tag {
  background: #f02a2a;
}

.product-card .product-img-wrapper .product-tag .new-tag,
.category-card .product-img-wrapper .product-tag .new-tag {
  background: #61ba62;
}

.product-card .product-img-wrapper ul.product-widget,
.category-card .product-img-wrapper ul.product-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  opacity: 0;
}

.product-card .product-img-wrapper ul.product-widget li,
.category-card .product-img-wrapper ul.product-widget li {
  margin: 4px 12px;
}

.product-card .product-img-wrapper ul.product-widget li button,
.category-card .product-img-wrapper ul.product-widget li button {
  border: none;
  outline: none;
  background: none;
}

.product-card .product-img-wrapper ul.product-widget li button .widget-icon,
.category-card .product-img-wrapper ul.product-widget li button .widget-icon {
  width: 34px;
  height: 34px;
  font-size: 14px;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  background: #3f4551;
  color: #fff;
}

.product-card .product-img-wrapper ul.product-widget li button .widget-icon:hover,
.category-card .product-img-wrapper ul.product-widget li button .widget-icon:hover {
  background: #fff;
  color: #3f4551;
  border: 2px solid #3f4551;
  position: relative;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.product-card .product-body,
.category-card .product-body {
  padding: 0.9rem;
}

.product-card .product-body .category-title,
.category-card .product-body .category-title {
  color: #aaaaaa;
  font-size: 12px;
  font-weight: 500;
}

.product-card .product-body .product-title,
.category-card .product-body .product-title {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  height: 38px;
  margin: 8px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-card .product-body .products-count,
.category-card .product-body .products-count {
  color: #ab2a20;
  font-weight: 400;
}

.product-card .product-body .product-price,
.category-card .product-body .product-price {
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
}

.product-card .product-body .product-price del,
.category-card .product-body .product-price del {
  color: #ab2a20;
}

.product-card .product-body .price-offer,
.category-card .product-body .price-offer {
  font-size: 12px !important;
  background: #fff;
  float: none;
  padding: 4px 7px;
  margin-top: 5px;
  margin-right: 6px;
  text-align: center;
  border: 1px solid #61ba62;
  color: #61ba62;
}

.product-card .product-body .product-btn,
.category-card .product-body .product-btn {
  width: 100%;
  opacity: 0;
}

.product-card:hover,
.category-card:hover {
  opacity: 1;
}

.offer-duration ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4px;
}

.offer-duration ul li span {
  border: 2px solid #fff;
  border-radius: 50%;
  height: 54px;
  width: 54px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  line-height: 54px;
  padding: 0;
  display: block;
  text-align: center;
}

.offer-duration ul li small {
  margin-left: .5rem;
  color: #fff;
}

.promotion-img-wrapper .promoted-img {
  height: 23rem;
}

.product-slider-wrapper .brand-img-wrapper,
.brand-section .brand-img-wrapper {
  border: 1px solid #f5f5f5;
  padding: 1.5rem;
}

.product-slider-wrapper .brand-img-wrapper .brand-img,
.brand-section .brand-img-wrapper .brand-img {
  height: 3rem;
  width: auto;
}

.categories-slider .owl-nav {
  margin-top: 2rem;
  text-align: center;
}

.categories-slider .owl-nav button i {
  padding: 6px 8px;
  background: #3f4551;
  color: #fff;
  border-radius: 2px;
  margin-right: 8px;
}

.category-card {
  height: 280px !important;
  border: 1px solid #fafafa !important;
  background: #fff;
  border-radius: 0;
}

.category-card .product-img-wrapper {
  background: transparent !important;
}

.category-card .product-body {
  padding: 0.9rem;
}

.category-card .product-body .category-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.category-card .product-body a {
  color: #3f4551;
}

.product-card:hover .product-widget {
  opacity: 1 !important;
}

.product-card:hover .product-btn {
  opacity: 1 !important;
}

.promotion__banner .promotion-img-wrapper {
  height: 12rem;
}

.promotion__banner .promotion-img-wrapper .promoted-img {
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.promotion__banner .promotion-img-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.promotion__banner .promotion-img-wrapper::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.promotion__banner .promotion-img-wrapper:hover::before, .promotion__banner .promotion-img-wrapper:hover::after {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.promotion__banner .promotion-banner__right {
  height: 37.5rem;
}

.categories-section-wrapper .categories-cards .card,
.categories-section-wrapper .collections-cards .card,
.collections-section-wrapper .categories-cards .card,
.collections-section-wrapper .collections-cards .card,
.most-popular-section .categories-cards .card,
.most-popular-section .collections-cards .card {
  border: 1px solid #f5f5f5;
  text-align: center;
  border-radius: 0;
  padding: 18px 0;
}

.categories-section-wrapper .categories-cards .card:hover,
.categories-section-wrapper .collections-cards .card:hover,
.collections-section-wrapper .categories-cards .card:hover,
.collections-section-wrapper .collections-cards .card:hover,
.most-popular-section .categories-cards .card:hover,
.most-popular-section .collections-cards .card:hover {
  -webkit-box-shadow: 0 8px 22px 0 #b2adae;
          box-shadow: 0 8px 22px 0 #b2adae;
  cursor: pointer;
}

.categories-section-wrapper .categories-cards .card .img-wrapper,
.categories-section-wrapper .collections-cards .card .img-wrapper,
.collections-section-wrapper .categories-cards .card .img-wrapper,
.collections-section-wrapper .collections-cards .card .img-wrapper,
.most-popular-section .categories-cards .card .img-wrapper,
.most-popular-section .collections-cards .card .img-wrapper {
  height: auto;
  width: 100%;
}

.categories-section-wrapper .categories-cards .card .img-wrapper img,
.categories-section-wrapper .collections-cards .card .img-wrapper img,
.collections-section-wrapper .categories-cards .card .img-wrapper img,
.collections-section-wrapper .collections-cards .card .img-wrapper img,
.most-popular-section .categories-cards .card .img-wrapper img,
.most-popular-section .collections-cards .card .img-wrapper img {
  height: 6rem;
  width: auto;
}

.categories-section-wrapper .categories-cards .card .categories-title,
.categories-section-wrapper .collections-cards .card .categories-title,
.collections-section-wrapper .categories-cards .card .categories-title,
.collections-section-wrapper .collections-cards .card .categories-title,
.most-popular-section .categories-cards .card .categories-title,
.most-popular-section .collections-cards .card .categories-title {
  margin-top: 18px;
}

.categories-section-wrapper .categories-cards .card .categories-title h6,
.categories-section-wrapper .collections-cards .card .categories-title h6,
.collections-section-wrapper .categories-cards .card .categories-title h6,
.collections-section-wrapper .collections-cards .card .categories-title h6,
.most-popular-section .categories-cards .card .categories-title h6,
.most-popular-section .collections-cards .card .categories-title h6 {
  font-size: 12px;
}

.collections-section-wrapper .collections-cards .card .img-wrapper a,
.most-popular-section .collections-cards .card .img-wrapper a {
  height: 6rem;
  width: 40%;
}

.collections-section-wrapper .collections-cards .card .collections-title,
.most-popular-section .collections-cards .card .collections-title {
  margin-top: 18px;
}

.collections-section-wrapper .collections-cards .card .collections-title h6,
.most-popular-section .collections-cards .card .collections-title h6 {
  font-weight: 600;
}

.collections-section-wrapper .collections-cards .card .collections-title small,
.most-popular-section .collections-cards .card .collections-title small {
  color: #aaaaaa;
}

.most-popular-section .collections-cards .card-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  background: #f3f7fa;
}

.most-popular-section .collections-cards .card-left .img-wrapper a img {
  height: 8rem !important;
}

.most-popular-section .collections-cards .card {
  padding: 28px 0;
}

.most-popular-section .collections-cards .card .img-wrapper a {
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.most-popular-section .collections-cards .card .img-wrapper a img {
  height: 4rem;
}

.most-popular-section .collections-cards .card .img-wrapper .collections-title {
  margin-top: 0;
}

.icon-box-wrapper {
  border-right: 1px solid #eaecef;
}

.icon-box-wrapper:last-child {
  border: none;
}

.icon-box-wrapper .icon_box {
  text-align: center;
  padding: 0 40px;
  position: relative;
}

.icon-box-wrapper .icon_box .icon {
  height: 48px;
  width: auto;
}

.icon-box-wrapper .icon_box .icon img {
  height: 100%;
  width: auto;
}

.icon-box-wrapper .icon_box .icon_box_content {
  margin-top: 22px;
}

.icon-box-wrapper .icon_box .icon_box_content h5 {
  font-weight: 600;
}

.icon-box-wrapper .icon_box .icon_box_content p {
  color: #687188;
  font-size: 12px;
  line-height: 20px;
  margin-top: 9px;
}

.product-container {
  background: #fff;
}

.product-container .title-row {
  padding: 8px 0px;
  border: 1px solid #f5f5f5;
}

.best-seller-section .product-card {
  height: 294px;
}

.best-seller-section .product-card .product-body .category-title {
  font-weight: 600;
  height: 16px;
}

.featured-product-slider .item .product-card {
  height: auto;
}

.star-ratings ul li {
  color: #ffad16;
}

.collection-inner-box {
  background-color: #3f4551;
  overflow: hidden;
  position: relative;
}

.collection-inner-box .collection-content span {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  font-family: sans-serif;
}

.collection-inner-box .collection-content h3 {
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 600;
}

.collection-inner-box .collection-content p {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.collection-inner-box .collection-content .discount-percent {
  color: #57ce57;
  font-weight: 600;
  font-size: 1.5rem;
}

.collection-inner-box .collection-btn a:hover {
  color: #fff;
  border: 1px solid #fff;
}

.brand-carousel .owl-nav, .product-slider .owl-nav, .new-arrival-slider .owl-nav {
  display: block !important;
  top: -52px;
  right: 0;
  position: absolute;
}

.brand-carousel .owl-nav button span, .product-slider .owl-nav button span, .new-arrival-slider .owl-nav button span {
  padding: 4px 10px;
  background: #3f4551;
  color: #fff;
  border-radius: 2px;
  margin-right: 8px;
}

/***========================
===== Media Queries========*/
@media (min-width: 1599px) {
  .promotion__banner .promotion-img-wrapper {
    height: 16rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 90%;
  }
}

.newsletter-container {
  background: #3f4551;
  color: #fff;
  border-radius: 4px;
  margin-top: -35px;
}

.newsletter-row {
  border-bottom: 1px solid #dddddd;
  padding-top: 35px;
  padding-bottom: 35px;
  display: none;
}

.newsletter-row .newsletter-wrapper .newsletter-form input {
  height: 4rem;
  width: 78%;
  text-align: center;
}

.newsletter-row .newsletter-wrapper .newsletter-form .newsletter-btn {
  width: 20%;
  height: 4rem;
  font-weight: 500;
  background: #ab2a20;
  color: #FFF;
  border: none;
}

.newsletter-row .newsletter-wrapper .app-download-link {
  width: 130px;
  height: auto;
}

.footer-section {
  background-color: #3f4551;
  border-top: 1px solid #ddd;
  color: #fff;
}

.footer-section .footer-container {
  margin-left: 65px;
  width: 90% !important;
  padding-top: 40px;
}

.footer-section .footer-container .footer-right {
  border-left: 1px solid #454d5e;
  padding: 0 25px;
}

.footer-section .footer-container .footer-subtitle {
  color: #ffffff;
  font-size: 12px;
  font-weight: 900;
  margin-bottom: 9px;
  text-transform: uppercase;
}

.footer-section .footer-container ul.footer-menu li a {
  line-height: 2;
  color: #fff;
  display: block;
  font-weight: 400;
  font-size: 12px;
}

.footer-section .footer-container ul.footer-menu li a:hover {
  text-decoration: underline;
}

.footer-section .footer-container p {
  color: #fff;
  line-height: 7px;
}

.footer-section .footer-container p a {
  color: #3f4551;
}

.footer-section .footer-container p .footer-icon {
  width: 14px;
}

.footer-section .footer-container p span {
  margin-left: 8px;
}

.footer-section .footer-bottom-row {
  border-top: 1px solid #fff;
  padding: 25px 0;
  margin-top: 40px;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: space-evenly;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.footer-section .footer-bottom-row ul.footer-bottom-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-section .footer-bottom-row ul.footer-bottom-menu li {
  margin-left: 1.5rem;
}

.footer-section .footer-bottom-row ul.footer-bottom-menu li:first-child {
  margin-left: 0;
}

.footer-section .footer-bottom-row ul.footer-bottom-menu li a {
  color: #fff;
}

.footer-section .footer-bottom-row ul.footer-bottom-menu li a .footer-icon {
  color: #ffbe00;
  margin-right: 8px;
}

.footer-section .footer-bottom-row ul.footer-bottom-menu li span {
  color: #fff;
}

.footer-section .footer-bottom-row .payment-options {
  height: auto;
  width: 55px;
}

.footer-menu .footer-title h6 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footer-menu .footer-content .footer-logo img {
  height: 2.5rem;
  width: auto;
}

.footer-menu .footer-content p {
  line-height: 25px;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  color: #fff;
}

.footer-menu .footer-content .footer-social ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer-menu .footer-content .footer-social ul li {
  margin-left: 1rem;
}

.footer-menu .footer-content .footer-social ul li:first-child {
  margin-left: 0;
}

.footer-menu .footer-content .footer-social ul li a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #E4E7ED;
  background-color: #FFF;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  color: #111823;
  border-radius: 50%;
}

.footer-menu .footer-content .footer-social ul li a:hover, .footer-menu .footer-content .footer-social ul li a:focus, .footer-menu .footer-content .footer-social ul li a:active {
  color: #3f4551;
}

.footer-menu .footer-content ul.footer-menu-items li {
  line-height: 2.5rem;
  font-size: 12px;
}

.footer-menu .footer-content ul.footer-menu-items li a {
  color: #fff;
  text-transform: capitalize;
}

.sub-footer {
  background: #fff;
}

.sub-footer .footer-end p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #3f4551;
}

.sub-footer .payment-card-bottom ul li {
  padding-left: 7px;
  padding-right: 7px;
  display: inline-block;
}

.sub-footer .payment-card-bottom ul li a img {
  height: 2rem;
  width: auto;
}
/*# sourceMappingURL=style.css.map */